Repository NibiruChain/py-sdk, pull requests merged in 2023-07, with the labels that each got.

#238 epic: migration for v0.21 with passing tests #wip
  .github/workflows/lint.yml
  .github/workflows/pytests.yml
  .github/workflows/scripts.yml
  .gitignore
  .pre-commit-config.yaml
  nibiru/__init__.py
  nibiru/event_specs.py
  nibiru/exceptions.py
  nibiru/grpc_client.py
  nibiru/msg/bank.py
  nibiru/msg/perp.py
  nibiru/msg/spot.py
  nibiru/msg/staking.py
  nibiru/pytypes/__init__.py
  nibiru/pytypes/common.py
  nibiru/pytypes/jsonable.py
  nibiru/pytypes/network.py
  nibiru/pytypes/tx_resp.py
  nibiru/query_clients/auth.py
  nibiru/query_clients/epoch.py
  nibiru/query_clients/perp.py
  nibiru/query_clients/spot.py
  nibiru/query_clients/stablecoin.py
  nibiru/query_clients/staking.py
  nibiru/query_clients/util.py
  nibiru/sdk.py
  nibiru/tx.py
  nibiru/wallet.py
  poetry.lock
  pyproject.toml
  scripts/get_nibid.sh
  scripts/get_pricefeeder.sh
  scripts/localnet.sh
  scripts/run_pricefeed.sh
  tests/__init__.py
  tests/bank_test.py
  tests/chain_info_test.py
  tests/conftest.py
  tests/endpoint_test.py
  tests/perp_test.py
  tests/spot_test.py
  tests/stablecoin_test.py
  tests/staking_test.py
  tests/utils_test.py
  tests/websocket_test.py
Labels: type: enhancement, type: test, epic, dependencies

#243 epic(tmrpc): all passing tests for v0.21
  nibiru/jsonrpc/__init__.py
  nibiru/jsonrpc/jsonrpc.py
  nibiru/jsonrpc/jsonrpc_test.py
  nibiru/jsonrpc/rpc_error.py
  nibiru/pytypes/common.py
  nibiru/pytypes/jsonable.py
  nibiru/tmrpc/__init__.py
  nibiru/tmrpc/broadcast.py
  nibiru/tmrpc/broadcast_test.py
  nibiru/tx.py
  poetry.lock
  pyproject.toml
  scripts/fmt.sh
  tests/__init__.py
  tests/bank_test.py
  tests/conftest.py
  tests/perp_test.py
  tests/spot_test.py
  tests/staking_test.py
  tests/utils_test.py
  tests/websocket_test.py
Labels: type: enhancement, type: test, epic

#235 ci: Run tests on release branches
  .github/workflows/lint.yml
  .github/workflows/notebooks.yml
  .github/workflows/publish.yml
  .github/workflows/pytests.yml
  .github/workflows/release.yml
  .github/workflows/scripts.yml
  .github/workflows/testnet-notebook.yml
Labels: type: test
